<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        h1{
        font-size:50px;
        font-family: 'Brush Script MT', cursive;
        font-weight: 100;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
<div>
    <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW1x47Wcmr_sM9g3jBMeBXvRT28x4jAWQzsGiPyA_ITg&s" height="200" width="200" ></center>
    <h1><center>About Simply Recipes</center></h1>
</div>
<center><h2>Who We Are</h2></center>
<center><p>
     Simply Recipes is here to help you cook delicious meals with less stress and more joy. We offer recipes and co
    oking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.

Simply Recipes was founded in 2003 by Elise Bauer as a home cooking blog to record her favorite family recipes. Today, Simply Recipes has grown into a trusted resource for home cooks with more than 3,000 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. We’re supported by a diverse group of recipe developers, food writers, recipe and product testers, photographers, and other creative professionals.</p></center>

<center><h2>Recipe Development & Testing</h2></center>
<p>Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.

There are three things we think about when deciding if a recipe is good enough to go on Simply Recipes:

First, does it work? Recipes need to be easy to follow and provide reliable results, every time.

Second, is it delicious? Does the dish make us smile inside and out? Do we want to eat the whole batch by ourselves?

Third, is it worth the effort? Do we want to make it again (and again and again)?

To make sure each of these standards is met, we start by working with expert recipe developers  — people with the experience and knowledge to not only develop a good recipe in their own kitchens, but to make sure that recipe works in yours. Next, we thoroughly review and edit every recipe in-house line by line. Finally, each new recipe is run by our team of recipe testers working in home kitchens with the same pots, pans, and tools that you use in yours. Only after all this is the recipe shared on Simply Recipes.

Have feedback for us? We’d love to hear from you! Please contact the team at contact@simplyrecipes.com.

<h2><center>Diversity & Inclusion</center></h2>
<p>Everyone is welcome at the Simply Recipes table: people of all races, religions, genders, sexual orientations, ages, backgrounds, and abilities. We strive to be a resource for every home cook, and we consciously work to make this inclusion felt in every part of the site, from the individuals we hire to the recipes we share.

We’re not perfect, but we hope to get more right than we get wrong. For a full look at our 2022 Diversity & Inclusion commitments and a recap of our commitments and progress from previous years, please see HERE.

Procedure for Reporting a Concern

If you have concerns about cultural appropriation, bias, or insensitivity in any of our articles, please let us know via contact@simplyrecipes.com. Your concern will be reviewed by a member of our editorial team and by a member of our Anti-Bias Review Board. Once the best course of action is determined, we send a reply to your email letting you know how the matter is being addressed.
</p>

<h2><center>Comments</center></h2>
<p>We review and approve every comment left on the site, and generally respond to questions within 1 to 3 days. When leaving comments, we ask that you think of Simply Recipes as our home. Constructive feedback is always welcome, but rude, mean, disrespectful, or spammy comments are not welcome and will not be approved.</p>

<h2><center>Product Reviews</center></h2>
<p>Our product reviews and recommendations are independent and based on extensive research and product testing. If you visit links within our content, we may receive commissions from your purchases.

</p>
</body>
</html>